body {
  font-family: monospace;
}

.App {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr auto 4fr;
  grid-template-areas:
    "header header header"
    ". board ."
    " . . ."
    ". keys ."
    ". . .";
}

header {
  grid-area: header;
  font-size: 0.95vw;
  color: gray;
  display: flex;
  justify-content: space-between;
}

.Board {
  grid-area: board;
  margin: auto;
}

.Board__row__letter {
  width: 4vw;
  height: 4vw;
  margin: 0.2vw;
  font-size: 1vw;
  text-transform: uppercase;
  background-color: white;
  border: rgba(128, 128, 128, 0.705) 0.1vw solid;
  color: transparent;
}

.Keys {
  grid-area: keys;
  display: flex;
  flex-direction: column;
  border: rgba(128, 128, 128, 0) 0.2vw solid;
}

.Keys__row {
  display: flex;
  justify-content: center;
}

.Keys__row__key {
  font-size: 1vw;
  padding: 1.3vw;
  background-color: lightgray;
  color: gray;
  margin: 0.2vw;
  border-radius: 0.2vw;
  border: rgba(128, 128, 128, 0) 0.2vw solid;
}

.Board__row__letter.guess {
  color: black;
}

.Keys__row__key.exact,
.Board__row__letter.exact {
  background-color: rgb(20, 121, 20);
  color: white;
  border: rgba(128, 128, 128, 0) 0.2vw solid;
}
.Keys__row__key.almost,
.Board__row__letter.almost {
  background-color: rgb(205, 195, 50);
  color: white;
  border: rgba(128, 128, 128, 0) 0.2vw solid;
}

.Keys__row__key.none,
.Board__row__letter.none {
  color: white;
  background-color: gray;
  border: rgba(128, 128, 128, 0) 0.2vw solid;
}
